@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1:wght@200;300&family=Hi+Melody&family=Jua&family=Nanum+Brush+Script&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo:wght@800&family=Nanum+Pen+Script&family=Single+Day&display=swap');
#myimg img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.name{ /*이름부분 위치 조정하는 코드*/
    font-size: 30px;
    margin: 0 22%;
    margin-top: 50px;
}
#myimg{ /*이미지 내용*/
    margin: 0 20%;
    margin-top: 2%;
    width: 300px;
    height: 300px;
}
.testmenu{ /*contact/channel*/
    display: flex; /*가로 정렬*/
    width: 400px;
    flex-direction: column;
    position: absolute; /*div로 묶은 다음 박스 위치 조정*/
    top: 25%;
    left: 45%;
}
.myinfo{
    flex-direction: column;
    line-height: 50%; 
}
.myinfo1{
    font-size: 20px;
}
h3{
    color: orange;
    font-style: bold;
}
.line{
    border: 0.5px solid rgba(128, 128, 128, 0.282);
    width: 62%;
    margin: 0px 18%;
}
span{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
.myInt{
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    margin: 2.5% 18%;
    font-size: 30px;
    margin-top: 5%;
}
.line2{
    border: 1.5px solid rgba(0, 0, 0, 0.654);
    width: 62%;
    margin: 0px 18%;
}
.Intbox{
    position: absolute;
    top: 100%;
    left: 18%;
    font-family: Arial, Helvetica, sans-serif;
}
.line3{
    border: 0.5px solid rgba(128, 128, 128, 0.282);
    width: 138%;
    margin: 5% -1%;
}
.career{
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    margin: 0px 18%;
    font-size: 30px;
    margin-top: 37%;
}
.line4{
    border: 1.5px solid rgba(0, 0, 0, 0.654);
    width: 62%;
    margin: 0px 18%;
    margin-top: 3%;
}
.careercompany{
    width: 895px;
    display: flex;
    justify-content: space-between;
    margin-left: 18%;
    margin-top: 2%;
    font-size: 17px;
    padding: 0.5%;
}
.line5{
    border: 0.5px solid rgba(128, 128, 128, 0.282);
    width: 62%;
    margin: 30px;
    margin-left: 18%;
}
.tool{
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    margin: 0% 18%;
    font-size: 30px;
    margin-top: 4%;
}
.line6{
    border: 1.5px solid rgba(0, 0, 0, 0.654);
    width: 62%;
    margin: 4%;
    margin-left: 18%;
}
.toolmenu{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-left: 18%;
    padding: 1%;
    color: gray;
}
.toolmenu1{
    background-color: rgba(175, 173, 173, 0.328);
    color: rgb(191, 130, 249);
    margin: 0 20px;
    margin-right: 40%;
    border-radius: 15%;
    line-height: 10px;
}
.toolmenu2{
    background-color: rgba(175, 173, 173, 0.328);
    color: rgb(191, 130, 249);
    margin: 0 20px;
    margin-right: 3%;
    border-radius: 5px;
    line-height: 10px;
}
.line7{
    border: 1.5px solid rgba(0, 0, 0, 0.654);
    width: 62%;
    margin: 4%;
    margin-left: 18%;
}
.Edu{
    width: 70%;
    margin-left: 18%;
    padding: 1%;
}
.line8{
    border: 0.5px solid rgba(0, 0, 0, 0.654);
    width: 62%;
    margin: 30px;
    margin-left: 18%;
}
.Edu1{
    width: 895px;
    margin-left: 18%;
    padding: 5px;
    color: gray;
}