*{
    margin: 0;
    padding: 0;
}
.navigator{
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menubar{ /*메뉴  바*/
    position: absolute;
    left: 23%;

}
.menu1 a{
    color: black;
}
.menu1 a:hover{
    color: blue;
    text-decoration: underline;
}
.iconbar{
    position: absolute;
    left: 1%;
    /*깃털 아이콘 위치 조정*/
}
.icons{ /*돋보기 모양 아이콘*/
    width: 20px;
    height: 20px;
    position: absolute;
    left: 96%;
    top: 1.7%;
}
.icons2{ /*햄버거 메뉴바*/
    position: absolute;
    left: 98%;
}
ul{
    list-style: none; /*ul에 있는 점들을 삭제*/
    display: flex; /*가로 정렬*/
}
li{
    padding:  0px 22%;
    /*li사이의 간격 조정*/
}
a{
    text-decoration: none; /*밑 줄 없애기*/
    color: black;
}
img{ /*이미지*/
    width: 65%;
    height: 300px;
    margin-top: 3%;
    margin-left: 17%;
}
.Myname{
    margin-left: 17%;
    margin-top: 5%;
}
.box1{
    border: 1px solid rgba(168, 167, 167, 0.739);
    width: 65%;
    height: 100px;
    margin-left: 17%;
    margin-top: 1%;
}
.box2{
    margin-top: 3%;
    margin-left: 5%;
    display: flex;
    width: 70%;
}
.box3{ 
    margin-top: 4%;
    margin-bottom: 20px;
}
.Gallery{
    font-size: 20px;
    width: 70%;
    margin-left: 17%;
    display: flex;
}
.line1{
    border: 0.5px solid rgba(128, 128, 128, 0.282);
    width: 65%;
    margin: 0px 1px;
    margin-left: 17%;
}
.readme{
    margin-left: 17%;
    margin-top: 3%;
    width: 250px;
}
.Reimg img{
    width: 32%;
    height: 200px;
    position: absolute;
    left: -1%;
    border-radius: 15%;
}
.Poimg img{
    width: 32%;
    height: 200px;
    position: absolute;
    left: 33%;
    border-radius: 15%;  
}
.Reimg1{
    width: 32%;
    height: 100px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 170%;
    left: 16%;
    background-color: white;
    border-radius: 15%;
}
.Reimg1:hover{
    background-color: #03a679;
}
.span1{
    color: rgb(193, 148, 236);
    background-color: #03a679;
}
.Poimg1{
    width: 32%;
    height: 100px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 170%;
    left: 50%;
    background-color: white;
    border-radius: 15%;
}
.Poimg1:hover{
    background-color: #04275f;
}
.span2{
    color: #6fb2dd;
    background-color: #04275f;
}
.box4{
    margin-top: 5%;
}
.box5{
    margin-top: 5%;
}
.resumetxt{
    width: 60%;
    margin-top: 35%;
    margin-left: 18%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.yellowtxt{
    color: rgb(235, 168, 22);
}
.resumetxt1{
    width: 60%;
    margin-top: 5%;
    margin-left: 18%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.yellowtxt1{
    color: rgb(185, 47, 185);
}
.line2{
    border: 0.5px solid rgba(128, 128, 128, 0.282);
    width: 65%;
    margin: 40px 1px;
    margin-left: 17%;
}
