*{
    margin: 0;
    padding: 0;
}
.navigator{
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menubar{
    position: absolute;
    left: 25%;

}
.menu1 a{
    color: black;
}
.menu1 a:hover{
    color: blue;
    text-decoration: underline;
}
.iconbar{
    position: absolute;
    left: 1%;
    /*깃털 아이콘 위치 조정*/
}
.icons{ /*돋보기 모양 아이콘*/
    width: 20px;
    height: 20px;
    position: absolute;
    left: 1400px;
}
.icons2{ /*햄버거 메뉴바*/
    position: absolute;
    left: 1420px;
}
ul{
    list-style: none; /*ul에 있는 점들을 삭제*/
    display: flex; /*가로 정렬*/
}
li{
    padding:  0px 50px;
    /*li사이의 간격 조정*/
}
a{
    text-decoration: none; /*밑 줄 없애기*/
    color: black;
}
img{ /*이미지*/
    width: 800px;
    height: 300px;
    margin-top: 20px;
    margin-left: 350px;
}
.Myname{
    margin-left: 350px;
    margin-top: 60px;
}
.box1{
    border: 1px solid rgba(168, 167, 167, 0.739);
    width: 800px;
    height: 100px;
    margin-left: 350px;
    margin-top: 10px;
}
.box2{
    margin-top: 25px;
    margin-left: 30px;
    display: flex;
    width: 700px;
}
.box3{ 
    margin-top: 50px;
    margin-bottom: 10px;
}
.Gallery{
    font-size: 20px;
    width: 300px;
    margin-left: 350px;
    display: flex;
}
.line1{
    border: 0.5px solid rgba(128, 128, 128, 0.282);
    width: 810px;
    margin: 0px 1px;
    margin-left: 350px;
}
.readme{
    margin-left: 350px;
    width: 250px;
}
.Reimg img{
    width: 380px;
    height: 200px;
    position: absolute;
    left: -5px;
    border-radius: 30px;
}
.Poimg img{
    width: 380px;
    height: 200px;
    position: absolute;
    left: 420px;
    border-radius: 30px;  
}
.Reimg1{
    width: 370px;
    height: 100px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 1000px;
    left: 350px;
    background-color: white;
    border-radius: 30px;
}
.Reimg1:hover{
    background-color: #03a679;
}
.span1{
    color: rgb(193, 148, 236);
    background-color: #03a679;
}
.Poimg1{
    width: 370px;
    height: 100px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 1000px;
    left: 775px;
    background-color: white;
    border-radius: 30px;
}
.Poimg1:hover{
    background-color: #04275f;
}
.span2{
    color: #6fb2dd;
    background-color: #04275f;
}
.box4{
    margin-top: 20px;
}
.box5{
    margin-top: 20px;
}
.resumetxt{
    width: 600px;
    margin-top: 400px;
    margin-left: 350px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.yellowtxt{
    color: rgb(235, 168, 22);
}
.resumetxt1{
    width: 600px;
    margin-top: 50px;
    margin-left: 350px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.yellowtxt1{
    color: rgb(185, 47, 185);
}
.line2{
    border: 0.5px solid rgba(128, 128, 128, 0.282);
    width: 810px;
    margin: 40px 1px;
    margin-left: 350px;
}
