*{
    margin: 0;
    padding: 0;
}
.navigator{
    background-color: white;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menubar{ /*메뉴  바*/
    position: absolute;
    left: 23%;

}
.menu1 a{
    color: black;
}
.menu1 a:hover{
    color: blue;
    text-decoration: underline;
}
.iconbar{
    position: absolute;
    left: 1%;
    /*깃털 아이콘 위치 조정*/
}
.icons{ /*돋보기 모양 아이콘*/
    width: 20px;
    height: 20px;
    position: absolute;
    left: 96%;
    top: 1.7%;
}
.icons2{ /*햄버거 메뉴바*/
    position: absolute;
    left: 98%;
}
ul{
    list-style: none; /*ul에 있는 점들을 삭제*/
    display: flex; /*가로 정렬*/
}
li{
    padding:  0px 22%;
    /*li사이의 간격 조정*/
}
a{
    text-decoration: none; /*밑 줄 없애기*/
    color: black;
}